Repository shopware/docs, pull requests merged in 2022-09, with the labels that each got.

#676 Update plugin configurations hint
  guides/plugins/plugins/administration/extending-webpack.md
Labels: Improvement, Admin Team

#678 adding information about the configuration object
  guides/plugins/plugins/content/cms/add-cms-element.md
Labels: Improvement, Guide

#555 Update add-cms-element.md + Add Cms Element via AdminSDK article
  .gitbook/assets/add-cms-element-via-admin-sdk-config.png
  .gitbook/assets/add-cms-element-via-admin-sdk-element.png
  .gitbook/assets/add-cms-element-via-admin-sdk-preview.png
  SUMMARY.md
  guides/plugins/plugins/content/cms/add-cms-element-via-admin-sdk.md
  guides/plugins/plugins/content/cms/add-cms-element.md
Labels: Improvement
