Repository shopware/docs, pull requests merged in 2022-11, with the labels that each got.

#772 DX-199 changes updated
  SUMMARY.md
  resources/guidelines/testing/store/README.md
Labels: Improvement, Guide

#514 WIP: NEXT-18117 - Add app base url to manifest reference
  resources/references/app-reference/manifest-reference.md
Labels: Core Team

#690 Commercial/custom pricing
  SUMMARY.md
  guides/plugins/plugins/api/custom-pricing.md
  products/plugins/commercial/README.md
Labels: Improvement, Concept

#446 NEXT-18625 - add documentation for rule awareness
  .gitbook/assets/rule-restrictions-rule-builder.png
  guides/plugins/plugins/framework/rule/add-custom-rules.md
Labels: Guide, Blocked

#778 commercial/custom-pricing - Alter naming to match Epic buzzwords
  guides/plugins/plugins/api/custom-pricing.md
Labels: DX Team

#782 Update add-cms-block.md
  guides/plugins/plugins/content/cms/add-cms-block.md
Labels: Improvement, Guide
