Repository shopware/docs, pull requests merged in 2022-06, with the labels that each got.

#579 DX-122 - Added starter guide on custom endpoints
  SUMMARY.md
  guides/plugins/apps/starter/add-api-endpoint.md
  guides/plugins/apps/starter/product-translator.md
Labels: Guide, DX Team

#575 NEXT-20790 - documentation for scss declaration via config xml
  SUMMARY.md
  guides/plugins/plugins/storefront/add-scss-variables-via-subscriber.md
  guides/plugins/plugins/storefront/add-scss-variables.md
Labels: Storefront Team

#605 translation-001: cleanup "guides/plugins/overview"
  guides/plugins/overview.md
Labels: Improvement

#559 added docs for count sorting
  guides/integrations-api/general-concepts/search-criteria.md
Labels: Core Team, Undocumented Feature
