Repository shopware/docs, pull requests merged in 2023-03, with the labels that each got.

#871 Correction for manual reload devenv
  guides/installation/devenv.md
Labels: Faulty Documentation

#798 NEXT-23421 - Tax provider documentation
  SUMMARY.md
  guides/plugins/apps/tax-provider.md
  guides/plugins/plugins/checkout/cart/tax-provider.md
Labels: Improvement, Checkout Team

#803 Add blockResubmit to documentation
  guides/plugins/plugins/checkout/cart/add-cart-validator.md
Labels: Checkout Team

#866 NEXT-11357 - Add documentation for native lazy loading
  guides/plugins/plugins/storefront/use-media-thumbnails.md
Labels: Undocumented Feature, Storefront Team
