Repository shopware/docs, pull requests merged in 2023-04, with the labels that each got.

#895 added a "Dummy App" entry
  resources/guidelines/testing/store/quality-guidelines-apps/README.md
Labels: Improvement, QA Team

#904 NEXT-21822 - compiling storefront without database clarification
  guides/hosting/installation-updates/deployments/build-w-o-db.md
Labels: Improvement, Storefront Team

#852 Fix explanation of asset installation and CSS usage
  guides/plugins/themes/add-assets-to-theme.md
Labels: Storefront Team

#920 Adaption of functional comparision in Quality Guidelines for Apps and Themes based on App System
  resources/guidelines/testing/store/quality-guidelines-apps/README.md
Labels: Improvement, Guide

#921 Adaption of functional comparision in Quality Guidelines for Apps and…
  resources/guidelines/testing/store/quality-guidelines-apps/README.md
  resources/guidelines/testing/store/quality-guidelines-plugins/README.md
Labels: Improvement, Guide

#911 NEXT-9496 - Document how to extend the unused media deletion process
  SUMMARY.md
  guides/plugins/plugins/content/media/prevent-deletion-of-media-files-referenced-in-your-plugins.md
Labels: Improvement, Guide
