Repository shopware/docs, pull requests merged in 2023-05, with the labels that each got.

#941 Update info on Search feature added to Admin panel
  guides/hosting/infrastructure/elasticsearch/elasticsearch-setup.md
Labels: Improvement, System & Setting Team

#934 Updated system requirements for B2B suite
  products/extensions/b2b-suite/guides/installation/README.md
Labels: Improvement

#933 B2B-811 - Add b2b english terms conventions
  products/extensions/b2b-suite/concepts/basic-conventions.md
Labels: Enterprise Team, Concept

#938 NEXT-22759 - Using custom entities in custom field selects
  guides/plugins/apps/custom-data/custom-entities.md
Labels: Improvement, Guide

#950 Update performance-tweaks.md
  guides/hosting/performance/performance-tweaks.md
Labels: Core Team, Improvement

#936 refactor: Remove module.hot.accept()
  guides/plugins/plugins/storefront/override-existing-javascript.md
  guides/plugins/plugins/storefront/reacting-to-cookie-consent-changes.md
Labels: Improvement, Storefront Team
