Repository shopware/docs, pull requests merged in 2025-04, with the labels that each got.

#1500 Explain new twig changes while keeping appropriate warnings
  resources/references/storefront-reference/twig-function-reference.md
Labels: Blocked, hacktoberfest-accepted

#1751 test: redirect workflow
  .github/workflows/redirect.yml
  guides/installation/community/devenv.md
Labels: check-redirect

#1763 docs: document the deprecated prop in the meteor migration guide
  guides/plugins/plugins/administration/system-updates/meteor-components.md
Labels: Admin
