Repository shopware/docs, pull requests merged in 2025-07, with the labels that each got.

#1836 feat(themes): Update theme docs in regards of new labeling
  guides/hosting/installation-updates/deployments/build-w-o-db.md
  guides/hosting/installation-updates/extension-managment.md
  guides/plugins/themes/theme-configuration.md
  guides/plugins/themes/theme-inheritance-configuration.md
Labels: Improvement, Storefront, v6.7

#1855 update secrets.md with required --secret-id usage and example CLI wor…
  products/paas/shopware/fundamentals/secrets.md
  products/paas/shopware/guides/secrets-vault-guide.md
Labels: PaaS

#1857 feat: Added a guide to show how to configure environment variable in …
  products/paas/shopware/guides/setting-environment-variables.md
Labels: PaaS

#1869 fix: caching-links
  concepts/framework/http_cache.md
  guides/plugins/plugins/storefront/add-caching-to-custom-controller.md
Labels: bugfix
